<mat-toolbar color="primary">
    <div class="toolbar-body">
      <div class="logo">
        <span>
          <img src="assets/img/logo.png" alt="logo-ciee">
        </span>
      </div>
      <div class="botoes">
        <button mat-raised-button color="primary"><mat-icon class="large-icon"><span class="material-symbols-outlined">view_kanban</span></mat-icon><span class="button-title">Kanban</span></button>
        <button mat-raised-button color="primary"><mat-icon class="large-icon">supervisor_account</mat-icon><span class="button-title">Profissionais</span></button>
      </div>
    </div>
</mat-toolbar>