.title{
    color:#3f51b5; 
}

.icon{
    display: inline-block;
    vertical-align: middle;
}

.btn-ok{
    background-color: green;
    color: white;
    font-weight: bold;
}

.btn-cancelar{
    font-weight: bold;
}